/* Reset default spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Full-screen black background */
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
}

/* Canvas fills the entire screen */
#starCanvas {
  display: block;
  width: 100%;
  height: 100%;
}
