/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Full screen space background */
body {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle at bottom, #020111 0%, #000000 70%);
  overflow: hidden;
}

/* Canvas */
#starCanvas {
  display: block;
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.2));
}
